.main{
  width: 100%;
   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(pic\ one.jpg);
   background-position: cover;
   background-size: cover;
   height: 100vh;
}
nav{
    height: 90px;
    width: 100%;
     background-color: black; 
}
nav ul{
    float: right;
    margin-right: 500px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0px 20px ;
}
li a{
    color: palevioletred;
    text-decoration: none;
    
}
img{
    height: 90px;
    width: 100px;
    margin: 0px 40px;
}
p{
    font-weight: bolder;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
}
a:hover{
    color:whitesmoke;
}
form{
    width: 250px;
    height: 50vh;
    text-align: center;
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 5px;
    background: url(./pic\ one.jpg),linear-gradient();
    background-color: black;
}
form p a{
    color: azure;
}
h1{
    color: orangered;
    text-align: center;
    padding-top: 25px;
}
.Form input{
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    color: orangered;
}

