.main{
  width: 100%;
   background:  url(pic\ one.jpg);
   background-position: cover;
   background-size: cover;
   height: 100vh;
}
nav{
    height: 90px;
    width: 100%;
     background-color: black; 
}
nav ul{
    float: right;
    margin-right: 500px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0px 20px ;
}
li a{
    color: palevioletred;
    text-decoration: none;
    
}
img{
    height: 90px;
    width: 100px;
    margin: 0px 40px;
}
p{
    font-weight: bolder;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.main :hover{
    color: rgb(184, 163, 163);
}
